/.idea/
/TrajectoryTask/ConsoleApp/bin/
/TrajectoryTask/ConsoleApp/obj/
/TrajectoryTask/TrajectoryTests/bin/
/TrajectoryTask/TrajectoryTests/obj/
/TrajectoryTask/.idea/
/TrajectoryTask/TrajectoryClasses/bin/
/TrajectoryTask/TrajectoryClasses/obj/
/TrajectoryTask/WpfApp/bin/
/TrajectoryTask/WpfApp/obj/
